# Build/Generated
/target
/steel-registry/src/generated
/steel-utils/src/generated
/steel-core/src/behavior/generated
/steel-core/src/entity/generated
/steel-worldgen/src/generated

# Config
/config
/.tmp
/world
/saves
/players

# Misc
CLAUDE.md
.env
/minecraft-src

# Package
profile.json.gz
profile.json.syms.json
*.gz
*.class

# ICE crash reports
rustc-ice-*

# IDE
.vscode/settings.json
.idea

.DS_STORE
