# Build/Generated
/target
/steel-registry/src/generated
/steel-utils/src/generated
/steel-core/src/behavior/generated

# crash-logs
rustc-ice-*.txt

# Config
/config
/.tmp
/world
/players

# Misc
AGENTS.md
.env
/minecraft-src

# Package
profile.json.gz
*.gz
*.class

# IDE
.vscode/settings.json
.idea

