[workspace]
resolver = "2"
members = [
    "steel",
    "steel-macros",
    "steel-protocol",
    "steel-registry",
    "steel-utils",
    "steel-world",
]

[workspace.package]
version = "0.0.0"
edition = "2024"


[workspace.dependencies]
tokio = { version = "1.48", features = [
    "macros",
    "net",
    "rt-multi-thread",
    "sync",
    "io-std",
    "signal",
    "fs",
    "io-util",
    "time",
] }
tokio-util = { version = "0.7.16", features = ["codec", "rt"] }
scc = { version = "3.3.2" }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
bytes = "1.10.1"
thiserror = "2.0.17"
proc-macro2 = "1.0.101"
quote = "1.0.41"
crossbeam = "0.8.4"
uuid = { version = "1.18.1", features = ["serde"] }
log = "0.4.28"
