name: Lint

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Spell Check Repo
        uses: crate-ci/typos@v1.39.0
      - uses: Swatinem/rust-cache@v2
      - run: cargo build --release --all-targets --all-features
      - run: |
          rustup component add --toolchain nightly-x86_64-unknown-linux-gnu rustfmt
          cargo fmt --check
      - run: |
          rustup component add --toolchain nightly-x86_64-unknown-linux-gnu clippy
          cargo clippy --release --all-targets --all-features
